In [1]:
import pandas as pd
import numpy as np
from pandasql import sqldf

## Importing Data

In [2]:
# Add column with service name to each DataFrame
amazon = pd.read_csv("data/raw/amazon_prime_titles.csv").assign(service="amazon")
disney = pd.read_csv("data/raw/disney_plus_titles.csv").assign(service="disney")
hulu = pd.read_csv("data/raw/hulu_titles.csv").assign(service="hulu")
netflix = pd.read_csv("data/raw/netflix_titles.csv").assign(service="netflix")

## Cleaning

In [3]:
# All columns are the same across these datasets
for i in [amazon, disney, hulu, netflix]:
    print(list(i.columns))

['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added', 'release_year', 'rating', 'duration', 'listed_in', 'description', 'service']
['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added', 'release_year', 'rating', 'duration', 'listed_in', 'description', 'service']
['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added', 'release_year', 'rating', 'duration', 'listed_in', 'description', 'service']
['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added', 'release_year', 'rating', 'duration', 'listed_in', 'description', 'service']

In [4]:
amazon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9668 entries, 0 to 9667
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       9668 non-null   object
 1   type          9668 non-null   object
 2   title         9668 non-null   object
 3   director      7586 non-null   object
 4   cast          8435 non-null   object
 5   country       672 non-null    object
 6   date_added    155 non-null    object
 7   release_year  9668 non-null   int64
 8   rating        9331 non-null   object
 9   duration      9668 non-null   object
 10  listed_in     9668 non-null   object
 11  description   9668 non-null   object
 12  service       9668 non-null   object
dtypes: int64(1), object(12)
memory usage: 982.0+ KB

In [5]:
disney.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1450 entries, 0 to 1449
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       1450 non-null   object
 1   type          1450 non-null   object
 2   title         1450 non-null   object
 3   director      977 non-null    object
 4   cast          1260 non-null   object
 5   country       1231 non-null   object
 6   date_added    1447 non-null   object
 7   release_year  1450 non-null   int64
 8   rating        1447 non-null   object
 9   duration      1450 non-null   object
 10  listed_in     1450 non-null   object
 11  description   1450 non-null   object
 12  service       1450 non-null   object
dtypes: int64(1), object(12)
memory usage: 147.4+ KB

In [6]:
hulu.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3073 entries, 0 to 3072
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       3073 non-null   object
 1   type          3073 non-null   object
 2   title         3073 non-null   object
 3   director      3 non-null      object
 4   cast          0 non-null      float64
 5   country       1620 non-null   object
 6   date_added    3045 non-null   object
 7   release_year  3073 non-null   int64
 8   rating        2553 non-null   object
 9   duration      2594 non-null   object
 10  listed_in     3073 non-null   object
 11  description   3069 non-null   object
 12  service       3073 non-null   object
dtypes: float64(1), int64(1), object(11)
memory usage: 312.2+ KB

In [7]:
netflix.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
 12  service       8807 non-null   object
dtypes: int64(1), object(12)
memory usage: 894.6+ KB

Columns that will be dropped are: show_id, director, and cast.

Show_id is not a unique identifier when dataframes are combined, and directors and cast members are not present or consistent enough to justify presence. May be brought in by using other data.

In [8]:
for i in [amazon, disney, hulu, netflix]:
    try:
        i.drop(["show_id", "director", "cast"], axis="columns", inplace=True)
    except:
        pass

In [9]:
amazon.head(1000)

,type,title,country,date_added,release_year,rating,duration,listed_in,description,service
0,Movie,The Grand Seduction,Canada,"March 30, 2021",2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...,amazon
1,Movie,Take Care Good Night,India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...,amazon
2,Movie,Secrets of Deception,United States,"March 30, 2021",2017,NaN,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...,amazon
3,Movie,Pink: Staying True,United States,"March 30, 2021",2014,NaN,69 min,Documentary,"Pink breaks the mold once again, bringing her ...",amazon
4,Movie,Monster Maker,United Kingdom,"March 30, 2021",1989,NaN,45 min,"Drama, Fantasy",Teenage Matt Banting wants to work with a famo...,amazon
...,...,...,...,...,...,...,...,...,...,...
995,Movie,Sing and Dance with Little Baby Bum!,NaN,NaN,2019,ALL,45 min,Kids,More wonderful videos starting with famous nur...,amazon
996,Movie,Sing and Dance with KiiYii,NaN,NaN,2019,ALL,47 min,Kids,"In this compilation, your children will love t...",amazon
997,Movie,Sing Along with Little Baby Bum,NaN,NaN,2019,ALL,35 min,Kids,Sing along to this 30-minute long compilation ...,amazon
998,Movie,Sinful Davey,NaN,NaN,1969,13+,95 min,Comedy,In 1821 a young Scotsman decides to be a crimi...,amazon
999,Movie,Sinbad: Make Me Wanna Holla,NaN,NaN,2014,16+,90 min,"Arts, Entertainment, and Culture, Comedy, Docu...",Watch the all-out stand-up special featuring a...,amazon

In [10]:
disney.head(1000)

,type,title,country,date_added,release_year,rating,duration,listed_in,description,service
0,Movie,Duck the Halls: A Mickey Mouse Christmas Special,NaN,"November 26, 2021",2016,TV-G,23 min,"Animation, Family",Join Mickey and the gang as they duck the halls!,disney
1,Movie,Ernest Saves Christmas,NaN,"November 26, 2021",1988,PG,91 min,Comedy,Santa Claus passes his magic bag to a new St. ...,disney
2,Movie,Ice Age: A Mammoth Christmas,United States,"November 26, 2021",2011,TV-G,23 min,"Animation, Comedy, Family",Sid the Sloth is on Santa's naughty list.,disney
3,Movie,The Queen Family Singalong,NaN,"November 26, 2021",2021,TV-PG,41 min,Musical,"This is real life, not just fantasy!",disney
4,TV Show,The Beatles: Get Back,NaN,"November 25, 2021",2021,NaN,1 Season,"Docuseries, Historical, Music",A three-part documentary from Peter Jackson ca...,disney
...,...,...,...,...,...,...,...,...,...,...
995,Movie,Kronk's New Groove,United States,"November 12, 2019",2005,G,78 min,"Animation, Comedy, Coming of Age",Kronk cooks up a get-rich-quick scheme to impr...,disney
996,Movie,La Luna,United States,"November 12, 2019",2012,G,7 min,"Animation, Coming of Age, Family",A peculiar story about a young boy coming of age.,disney
997,TV Show,Lab Rats,United States,"November 12, 2019",2011,TV-Y7,4 Seasons,"Action-Adventure, Comedy, Coming of Age",Leo discovers a secret underground lab with th...,disney
998,Movie,Lady and the Tramp,United States,"November 12, 2019",2019,PG,111 min,"Action-Adventure, Comedy, Family",A house dog and a stray embark on an adventure...,disney
999,Movie,Lava,United States,"November 12, 2019",2015,G,9 min,"Animation, Family, Musical",A love story that takes place over millions of...,disney

In [11]:
hulu.head(1000)

,type,title,country,date_added,release_year,rating,duration,listed_in,description,service
0,Movie,Ricky Velez: Here's Everything,NaN,"October 24, 2021",2021,TV-MA,NaN,"Comedy, Stand Up",​Comedian Ricky Velez bares it all with his ho...,hulu
1,Movie,Silent Night,NaN,"October 23, 2021",2020,NaN,94 min,"Crime, Drama, Thriller","Mark, a low end South London hitman recently r...",hulu
2,Movie,The Marksman,NaN,"October 23, 2021",2021,PG-13,108 min,"Action, Thriller",A hardened Arizona rancher tries to protect an...,hulu
3,Movie,Gaia,NaN,"October 22, 2021",2021,R,97 min,Horror,A forest ranger and two survivalists with a cu...,hulu
4,Movie,Settlers,NaN,"October 22, 2021",2021,NaN,104 min,"Science Fiction, Thriller",Mankind's earliest settlers on the Martian fro...,hulu
...,...,...,...,...,...,...,...,...,...,...
995,TV Show,Our America: Living While Black,NaN,"February 3, 2021",2020,NaN,1 Season,"Black Stories, Documentaries",ABC Owned Television Stations present personal...,hulu
996,Movie,Good Morning America,United States,"February 2, 2021",1975,1 Season,NaN,News,The Emmy-winning morning news program featurin...,hulu
997,Movie,The School That Tried to End Racism,United Kingdom,"February 2, 2021",2020,1 Season,NaN,Documentaries,New series following a pioneering British scho...,hulu
998,TV Show,Baldwin Hills,United States,"February 1, 2021",2007,TV-14,3 Seasons,"Black Stories, Drama, Reality",BET’s reality docu-drama will explore the live...,hulu
999,TV Show,Being Mary Jane,United States,"February 1, 2021",2013,TV-14,5 Seasons,Drama,BEING MARY JANE is BET's first one-hour drama ...,hulu

In [12]:
netflix.head(1000)

,type,title,country,date_added,release_year,rating,duration,listed_in,description,service
0,Movie,Dick Johnson Is Dead,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",netflix
1,TV Show,Blood & Water,South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",netflix
2,TV Show,Ganglands,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...,netflix
3,TV Show,Jailbirds New Orleans,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo...",netflix
4,TV Show,Kota Factory,India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...,netflix
...,...,...,...,...,...,...,...,...,...,...
995,Movie,Vizontele,Turkey,"April 23, 2021",2001,TV-MA,106 min,"Comedies, Dramas, International Movies","In 1974, a rural town in Anatolia gets its fir...",netflix
996,Movie,HOMUNCULUS,Japan,"April 22, 2021",2021,TV-MA,116 min,"Horror Movies, International Movies, Thrillers",Truth and illusion blurs when a homeless amnes...,netflix
997,TV Show,Life in Color with David Attenborough,"Australia, United Kingdom","April 22, 2021",2021,TV-PG,1 Season,"British TV Shows, Docuseries, International TV...","Using innovative technology, this docuseries e...",netflix
998,Movie,Searching For Sheela,India,"April 22, 2021",2021,TV-14,58 min,"Documentaries, International Movies",Journalists and fans await Ma Anand Sheela as ...,netflix
999,Movie,Stowaway,"Germany, United States","April 22, 2021",2021,TV-MA,116 min,"Dramas, International Movies, Thrillers",A three-person crew on a mission to Mars faces...,netflix

## Checking Column Consistency Across DataFrames

In [13]:
# Type consistency
for i in [amazon,disney,hulu,netflix]:
    print(i.type.unique())

['Movie' 'TV Show']
['Movie' 'TV Show']
['Movie' 'TV Show']
['Movie' 'TV Show']

In [14]:
# Looking at different country formats
diff_countries = []
for i in [amazon,disney,hulu,netflix]:
    for countries in i.country.unique():
        try:
            for country in countries.split(","):
                if(country not in diff_countries):
                    diff_countries.append(country)
        except AttributeError:
            # These are NaN values
            pass
sorted(diff_countries)

['',
 ' Afghanistan',
 ' Albania',
 ' Algeria',
 ' Angola',
 ' Argentina',
 ' Armenia',
 ' Australia',
 ' Austria',
 ' Azerbaijan',
 ' Bahamas',
 ' Bangladesh',
 ' Belgium',
 ' Bermuda',
 ' Botswana',
 ' Brazil',
 ' Bulgaria',
 ' Burkina Faso',
 ' Cambodia',
 ' Canada',
 ' Cayman Islands',
 ' Chile',
 ' China',
 ' Colombia',
 ' Costa Rica',
 ' Croatia',
 ' Cuba',
 ' Czech Republic',
 ' Denmark',
 ' Dominican Republic',
 ' East Germany',
 ' Ecuador',
 ' Egypt',
 ' Ethiopia',
 ' Finland',
 ' France',
 ' French Polynesia',
 ' Georgia',
 ' Germany',
 ' Ghana',
 ' Greece',
 ' Guatemala',
 ' Hong Kong',
 ' Hungary',
 ' Iceland',
 ' India',
 ' Indonesia',
 ' Iran',
 ' Iraq',
 ' Ireland',
 ' Israel',
 ' Italy',
 ' Japan',
 ' Jordan',
 ' Kazakhstan',
 ' Kenya',
 ' Kuwait',
 ' Latvia',
 ' Lebanon',
 ' Liechtenstein',
 ' Lithuania',
 ' Luxembourg',
 ' Malawi',
 ' Malaysia',
 ' Malta',
 ' Mexico',
 ' Monaco',
 ' Mongolia',
 ' Montenegro',
 ' Morocco',
 ' Namibia',
 ' Nepal',
 ' Netherlands',
 ' New Zealand',
 ' Nicaragua',
 ' Nigeria',
 ' Norway',
 ' Pakistan',
 ' Palestine',
 ' Panama',
 ' Peru',
 ' Philippines',
 ' Poland',
 ' Portugal',
 ' Qatar',
 ' Romania',
 ' Russia',
 ' Samoa',
 ' Saudi Arabia',
 ' Senegal',
 ' Serbia',
 ' Singapore',
 ' Slovakia',
 ' Slovenia',
 ' South Africa',
 ' South Korea',
 ' Soviet Union',
 ' Spain',
 ' Sri Lanka',
 ' Sudan',
 ' Sweden',
 ' Switzerland',
 ' Syria',
 ' Taiwan',
 ' Thailand',
 ' Tunisia',
 ' Turkey',
 ' Uganda',
 ' Ukraine',
 ' United Arab Emirates',
 ' United Kingdom',
 ' United States',
 ' Uruguay',
 ' Vatican City',
 ' Venezuela',
 ' West Germany',
 ' Zimbabwe',
 'Afghanistan',
 'Argentina',
 'Australia',
 'Austria',
 'Bangladesh',
 'Belarus',
 'Belgium',
 'Brazil',
 'Bulgaria',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Chile',
 'China',
 'Colombia',
 'Croatia',
 'Cyprus',
 'Czech Republic',
 'Denmark',
 'Egypt',
 'Finland',
 'France',
 'Georgia',
 'Germany',
 'Ghana',
 'Greece',
 'Guatemala',
 'Hong Kong',
 'Hungary',
 'Iceland',
 'India',
 'Indonesia',
 'Iran',
 'Ireland',
 'Israel',
 'Italy',
 'Jamaica',
 'Japan',
 'Jordan',
 'Kenya',
 'Kosovo',
 'Kuwait',
 'Lebanon',
 'Luxembourg',
 'Malaysia',
 'Mauritius',
 'Mexico',
 'Mozambique',
 'Namibia',
 'Netherlands',
 'New Zealand',
 'Nigeria',
 'Norway',
 'Pakistan',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Puerto Rico',
 'Romania',
 'Russia',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Singapore',
 'Slovenia',
 'Somalia',
 'South Africa',
 'South Korea',
 'Soviet Union',
 'Spain',
 'Sweden',
 'Switzerland',
 'Syria',
 'Taiwan',
 'Tanzania',
 'Thailand',
 'Turkey',
 'Ukraine',
 'United Arab Emirates',
 'United Kingdom',
 'United States',
 'Uruguay',
 'Venezuela',
 'Vietnam',
 'West Germany',
 'Zimbabwe']

In [15]:
# Remaking country strings so that they are consistent
for i in [amazon,disney,hulu,netflix]:
    new_countries = []
    for countries in i.country:
            try:
                new_str = ""
                for country in countries.split(","):
                    if(country != ""):
                        new_str += country.strip() + ","
                new_countries.append(new_str[:-1])
            except AttributeError:
                # These are NaN values
                new_countries.append(countries)
    i["country"] = new_countries

In [16]:
# Date added consistency
for i in [amazon,disney,hulu,netflix]:
    print(i.date_added.unique())

['March 30, 2021' 'April 1, 2021' 'April 4, 2021' 'April 10, 2021'
 'April 17, 2021' 'April 24, 2021' 'May 2, 2021' 'June 3, 2021' nan
 'April 13, 2021' 'April 20, 2021' 'April 26, 2021' 'April 27, 2021'
 'April 30, 2021' 'May 1, 2021' 'May 9, 2021' 'May 11, 2021'
 'May 12, 2021' 'May 13, 2021' 'May 18, 2021' 'May 19, 2021'
 'May 22, 2021' 'May 24, 2021' 'May 29, 2021' 'June 4, 2021'
 'June 11, 2021' 'June 12, 2021' 'June 15, 2021' 'June 18, 2021'
 'June 20, 2021' 'June 21, 2021' 'June 22, 2021' 'June 23, 2021'
 'June 24, 2021' 'June 25, 2021' 'June 26, 2021' 'June 29, 2021'
 'July 1, 2021' 'July 3, 2021' 'July 8, 2021' 'July 12, 2021'
 'July 16, 2021' 'July 17, 2021' 'July 20, 2021' 'July 23, 2021'
 'July 24, 2021' 'July 26, 2021' 'July 27, 2021' 'August 1, 2021'
 'August 4, 2021' 'August 6, 2021' 'August 14, 2021' 'August 15, 2021'
 'August 16, 2021' 'August 17, 2021' 'August 18, 2021' 'August 21, 2021'
 'August 26, 2021' 'August 27, 2021' 'August 29, 2021' 'September 2, 2021'
 'September 4, 2021' 'September 9, 2021' 'September 10, 2021'
 'September 11, 2021' 'September 12, 2021' 'September 14, 2021'
 'September 15, 2021' 'September 17, 2021' 'September 18, 2021'
 'September 19, 2021' 'September 22, 2021' 'September 25, 2021'
 'September 26, 2021' 'September 29, 2021' 'September 30, 2021'
 'October 1, 2021' 'October 2, 2021' 'October 3, 2021' 'October 4, 2021'
 'October 5, 2021' 'October 6, 2021' 'October 7, 2021' 'October 8, 2021'
 'October 10, 2021']
['November 26, 2021' 'November 25, 2021' 'November 24, 2021'
 'November 19, 2021' 'November 17, 2021' 'November 12, 2021'
 'November 5, 2021' 'November 3, 2021' 'October 29, 2021'
 'October 22, 2021' 'October 20, 2021' 'October 15, 2021'
 'October 13, 2021' 'October 8, 2021' 'October 6, 2021' 'October 1, 2021'
 'September 29, 2021' 'September 24, 2021' 'September 22, 2021'
 'September 17, 2021' 'September 15, 2021' 'September 10, 2021'
 'September 8, 2021' 'September 3, 2021' 'September 1, 2021'
 'August 27, 2021' 'August 25, 2021' 'August 20, 2021' 'August 18, 2021'
 'August 13, 2021' 'August 11, 2021' 'August 6, 2021' 'August 4, 2021'
 'July 30, 2021' 'July 28, 2021' 'July 23, 2021' 'July 21, 2021'
 'July 16, 2021' 'July 14, 2021' 'July 9, 2021' 'July 7, 2021'
 'July 2, 2021' 'June 25, 2021' 'June 18, 2021' 'June 11, 2021'
 'June 9, 2021' 'June 4, 2021' 'May 28, 2021' 'May 21, 2021'
 'May 17, 2021' 'May 14, 2021' 'May 10, 2021' 'May 7, 2021' 'May 4, 2021'
 'May 3, 2021' 'April 30, 2021' 'April 23, 2021' 'April 22, 2021'
 'April 16, 2021' 'April 9, 2021' 'April 2, 2021' 'March 26, 2021'
 'March 19, 2021' 'March 12, 2021' 'March 5, 2021' 'February 26, 2021'
 'February 19, 2021' 'February 12, 2021' 'February 5, 2021'
 'January 29, 2021' 'January 22, 2021' 'January 15, 2021'
 'January 8, 2021' 'January 1, 2021' 'December 25, 2020'
 'December 18, 2020' 'December 11, 2020' 'December 4, 2020'
 'November 27, 2020' 'November 25, 2020' 'November 20, 2020'
 'November 18, 2020' 'November 17, 2020' 'November 13, 2020'
 'November 6, 2020' 'October 30, 2020' 'October 23, 2020'
 'October 16, 2020' 'October 9, 2020' 'October 2, 2020'
 'September 25, 2020' 'September 18, 2020' 'September 11, 2020'
 'September 4, 2020' 'August 28, 2020' 'August 21, 2020' 'August 14, 2020'
 'August 7, 2020' 'July 31, 2020' 'July 24, 2020' 'July 17, 2020'
 'July 10, 2020' 'July 5, 2020' 'July 3, 2020' 'June 26, 2020'
 'June 19, 2020' 'June 12, 2020' 'June 5, 2020' 'May 29, 2020'
 'May 22, 2020' 'May 15, 2020' 'May 4, 2020' 'May 2, 2020' 'May 1, 2020'
 'April 30, 2020' 'April 28, 2020' 'April 24, 2020' 'April 23, 2020'
 'April 22, 2020' 'April 17, 2020' 'April 14, 2020' 'April 10, 2020'
 'April 3, 2020' 'April 1, 2020' 'March 27, 2020' 'March 25, 2020'
 'March 20, 2020' 'March 15, 2020' 'March 14, 2020' 'March 13, 2020'
 'March 6, 2020' 'March 5, 2020' 'March 4, 2020' 'February 28, 2020'
 'February 25, 2020' 'February 21, 2020' 'February 16, 2020'
 'February 14, 2020' 'February 8, 2020' 'February 7, 2020'
 'February 5, 2020' 'February 2, 2020' 'February 1, 2020'
 'January 31, 2020' 'January 28, 2020' 'January 17, 2020'
 'January 15, 2020' 'January 10, 2020' 'January 8, 2020' 'January 3, 2020'
 'January 1, 2020' 'December 27, 2019' 'December 26, 2019'
 'December 20, 2019' 'December 13, 2019' 'December 6, 2019'
 'December 5, 2019' 'December 3, 2019' 'December 1, 2019'
 'November 29, 2019' 'November 27, 2019' 'November 22, 2019'
 'November 20, 2019' 'November 18, 2019' 'November 15, 2019'
 'November 12, 2019' 'October 1, 2019' nan]
['October 24, 2021' 'October 23, 2021' 'October 22, 2021' ...
 'June 1, 2008' 'July 14, 2006' nan]
['September 25, 2021' 'September 24, 2021' 'September 23, 2021' ...
 'December 6, 2018' 'March 9, 2016' 'January 11, 2020']

In [17]:
# Release year consistency
for i in [amazon,disney,hulu,netflix]:
    print(i.release_year.unique())

[2014 2018 2017 1989 2016 1994 2020 2019 2008 2001 1941 1991 2005 2015
 2011 2013 1949 2007 2002 1955 1959 1983 2009 2012 2010 1986 1988 1920
 1936 1992 2021 1993 2006 1948 1946 1944 1935 1985 1937 1970 1945 1939
 1996 1997 1974 1938 1978 2004 1943 1975 1960 1934 1940 1961 2003 2000
 1967 1995 1951 1932 1999 1963 1969 1952 1947 1929 1990 1925 1968 1987
 1942 1979 1980 1981 1976 1966 1973 1956 1972 1950 1953 1982 1977 1933
 1958 1984 1998 1924 1922 1926 1954 1930 1971 1965 1931 1923 1962 1964
 1957 1927]
[2016 1988 2011 2021 2015 2019 2008 2020 2007 2013 2018 2014 2012 2006
 2010 1996 2009 2017 1993 1994 1998 1989 1997 2005 2000 2004 1987 1985
 1967 1973 1991 1956 1995 1984 1974 1959 2003 1976 2001 1990 1992 1952
 1955 1977 1957 1999 1948 1964 1969 1942 1950 1951 1953 1949 1940 1946
 1954 1936 1944 1935 1939 1975 1978 2002 1971 1961 1962 1981 1932 1938
 1941 1986 1947 1937 1966 1943 1934 1980 1960 1983 1972 1982 1979 1928
 1965 1970 1963 1933 1945 1968]
[2021 2020 2003 2011 2015 2012 2009 2016 2019 2017 2010 2014 2018 2006
 2013 1963 1981 1993 2002 1975 2005 2000 2001 1997 1972 1983 1994 2004
 1995 1987 1962 1979 1990 1964 1965 1989 1999 1998 1984 1985 2007 1982
 1986 1991 1996 1977 1973 2008 1967 1974 1976 1957 1953 1980 1958 1955
 1933 1960 1978 1992 1970 1988 1923 1966 1950 1968 1959 1951 1961 1971
 1954 1969]
[2020 2021 1993 2018 1996 1998 1997 2010 2013 2017 1975 1978 1983 1987
 2012 2001 2014 2002 2003 2004 2011 2008 2009 2007 2005 2006 1994 2015
 2019 2016 1982 1989 1990 1991 1999 1986 1992 1984 1980 1961 2000 1995
 1985 1976 1959 1988 1981 1972 1964 1945 1954 1979 1958 1956 1963 1970
 1973 1925 1974 1960 1966 1971 1962 1969 1977 1967 1968 1965 1946 1942
 1955 1944 1947 1943]

In [18]:
# Rating consistency
for i in [amazon,disney,hulu,netflix]:
    print(i.rating.unique())

[nan '13+' 'ALL' '18+' 'R' 'TV-Y' 'TV-Y7' 'NR' '16+' 'TV-PG' '7+' 'TV-14'
 'TV-NR' 'TV-G' 'PG-13' 'TV-MA' 'G' 'PG' 'NC-17' 'UNRATED' '16' 'AGES_16_'
 'AGES_18_' 'ALL_AGES' 'NOT_RATE']
['TV-G' 'PG' 'TV-PG' nan 'PG-13' 'TV-14' 'G' 'TV-Y7' 'TV-Y' 'TV-Y7-FV']
['TV-MA' nan 'PG-13' 'R' 'TV-14' 'PG' 'TV-PG' 'NOT RATED' 'G' 'TV-G'
 '2 Seasons' 'TV-Y' '93 min' '4 Seasons' 'TV-Y7' '136 min' '91 min'
 '85 min' '98 min' '89 min' '94 min' '86 min' '3 Seasons' '121 min'
 '88 min' '101 min' '1 Season' '83 min' '100 min' '95 min' '92 min'
 '96 min' '109 min' '99 min' '75 min' '87 min' '67 min' '104 min'
 '107 min' '84 min' '103 min' '105 min' '119 min' '114 min' '82 min'
 '90 min' '130 min' '110 min' '80 min' '6 Seasons' '97 min' '111 min'
 '81 min' '49 min' '45 min' '41 min' '73 min' '40 min' '36 min' '39 min'
 '34 min' '47 min' '65 min' '37 min' '78 min' '102 min' '129 min'
 '115 min' '112 min' 'NR' '61 min' '106 min' '76 min' '77 min' '79 min'
 '157 min' '28 min' '64 min' '7 min' '5 min' '6 min' '127 min' '142 min'
 '108 min' '57 min' '118 min' '116 min' '12 Seasons' '71 min']
['PG-13' 'TV-MA' 'PG' 'TV-14' 'TV-PG' 'TV-Y' 'TV-Y7' 'R' 'TV-G' 'G'
 'NC-17' '74 min' '84 min' '66 min' 'NR' nan 'TV-Y7-FV' 'UR']

In [19]:
# If duration is misplaced, move it and set rating to NaN
for i in [amazon, disney, hulu, netflix]:
    for index, row in i.iterrows():
        if("Season" in str(row["rating"]) or "min" in str(row["rating"])):
            row["duration"] = row["rating"]
            row["rating"] = np.nan
            i.loc[index] = row

In [20]:
# Duration consistency
for i in [amazon,disney,hulu,netflix]:
    print(i.duration.unique())

['113 min' '110 min' '74 min' '69 min' '45 min' '52 min' '98 min'
 '131 min' '87 min' '92 min' '88 min' '93 min' '94 min' '46 min' '96 min'
 '1 Season' '104 min' '62 min' '50 min' '3 Seasons' '2 Seasons' '86 min'
 '36 min' '37 min' '103 min' '9 min' '18 min' '14 min' '20 min' '19 min'
 '22 min' '60 min' '6 min' '54 min' '5 min' '84 min' '126 min' '125 min'
 '109 min' '89 min' '85 min' '56 min' '40 min' '111 min' '33 min' '34 min'
 '95 min' '99 min' '78 min' '4 Seasons' '77 min' '55 min' '53 min'
 '115 min' '58 min' '49 min' '135 min' '91 min' '64 min' '59 min' '48 min'
 '122 min' '90 min' '102 min' '65 min' '114 min' '136 min' '70 min'
 '138 min' '100 min' '480 min' '4 min' '30 min' '152 min' '68 min'
 '57 min' '7 Seasons' '31 min' '151 min' '149 min' '9 Seasons' '141 min'
 '121 min' '79 min' '140 min' '51 min' '106 min' '75 min' '27 min'
 '107 min' '108 min' '38 min' '157 min' '43 min' '118 min' '139 min'
 '6 Seasons' '112 min' '15 min' '72 min' '5 Seasons' '116 min' '142 min'
 '71 min' '42 min' '81 min' '32 min' '66 min' '127 min' '159 min' '67 min'
 '29 min' '132 min' '101 min' '164 min' '73 min' '61 min' '80 min'
 '83 min' '44 min' '120 min' '26 min' '97 min' '23 min' '105 min' '82 min'
 '11 min' '148 min' '161 min' '123 min' '29 Seasons' '0 min' '124 min'
 '143 min' '35 min' '47 min' '170 min' '19 Seasons' '3 min' '146 min'
 '601 min' '24 min' '21 Seasons' '154 min' '128 min' '133 min' '153 min'
 '119 min' '63 min' '169 min' '174 min' '144 min' '7 min' '137 min'
 '76 min' '39 min' '8 Seasons' '12 Seasons' '134 min' '163 min' '1 min'
 '145 min' '162 min' '41 min' '147 min' '155 min' '117 min' '167 min'
 '11 Seasons' '28 min' '25 min' '180 min' '2 min' '541 min' '240 min'
 '129 min' '178 min' '171 min' '21 min' '172 min' '173 min' '10 min'
 '166 min' '160 min' '130 min' '479 min' '13 min' '8 min' '10 Seasons'
 '17 min' '16 min' '158 min' '183 min' '12 min' '14 Seasons' '150 min'
 '481 min' '181 min' '156 min' '540 min' '177 min' '550 min' '485 min'
 '176 min' '193 min' '165 min' '175 min' '188 min' '187 min' '168 min'
 '190 min' '185 min' '209 min' '192 min' '182 min' '207 min' '269 min'
 '15 Seasons' '191 min']
['23 min' '91 min' '41 min' '1 Season' '94 min' '2 Seasons' '45 min'
 '59 min' '4 min' '10 Seasons' '2 min' '1 min' '8 min' '3 Seasons'
 '110 min' '11 min' '7 min' '95 min' '129 min' '14 min' '5 min' '134 min'
 '9 min' '30 min' '6 min' '22 min' '3 min' '87 min' '90 min' '93 min'
 '101 min' '132 min' '44 min' '131 min' '104 min' '5 Seasons' '52 min'
 '47 min' '53 min' '85 min' '92 min' '135 min' '4 Seasons' '105 min'
 '99 min' '32 Seasons' '88 min' '127 min' '106 min' '116 min' '42 min'
 '16 Seasons' '140 min' '19 Seasons' '66 min' '115 min' '137 min'
 '9 Seasons' '126 min' '82 min' '125 min' '54 min' '7 Seasons' '98 min'
 '102 min' '80 min' '170 min' '97 min' '112 min' '21 min' '20 min'
 '15 min' '19 min' '79 min' '6 Seasons' '89 min' '18 min' '81 min'
 '148 min' '121 min' '96 min' '109 min' '107 min' '86 min' '24 min'
 '8 Seasons' '12 min' '65 min' '48 min' '111 min' '43 min' '180 min'
 '182 min' '60 min' '50 min' '46 min' '123 min' '113 min' '117 min'
 '83 min' '103 min' '122 min' '72 min' '143 min' '84 min' '128 min'
 '138 min' '120 min' '118 min' '55 min' '56 min' '144 min' '33 min'
 '100 min' '160 min' '49 min' '152 min' '75 min' '108 min' '78 min'
 '119 min' '147 min' '142 min' '32 min' '31 min' '27 min' '77 min'
 '25 min' '74 min' '62 min' '71 min' '162 min' '73 min' '114 min' '10 min'
 '64 min' '51 min' '151 min' '76 min' '26 min' '130 min' '70 min' '13 min'
 '183 min' '150 min' '145 min' '67 min' '169 min' '61 min' '63 min'
 '124 min' '139 min' '136 min' '58 min' '69 min' '154 min' '175 min'
 '68 min']
[nan '94 min' '108 min' '97 min' '104 min' '1 Season' '88 min' '3 Seasons'
 '113 min' '6 Seasons' '87 min' '7 Seasons' '2 Seasons' '4 Seasons'
 '84 min' '95 min' '15 Seasons' '101 min' '93 min' '105 min' '12 Seasons'
 '8 Seasons' '99 min' '112 min' '124 min' '23 Seasons' '145 min' '125 min'
 '157 min' '41 min' '89 min' '5 Seasons' '80 min' '90 min' '116 min'
 '102 min' '100 min' '110 min' '114 min' '115 min' '130 min' '133 min'
 '91 min' '121 min' '96 min' '107 min' '103 min' '109 min' '98 min'
 '119 min' '106 min' '111 min' '118 min' '117 min' '136 min' '181 min'
 '182 min' '128 min' '138 min' '126 min' '72 min' '16 Seasons'
 '20 Seasons' '9 Seasons' '86 min' '75 min' '144 min' '26 min' '76 min'
 '129 min' '83 min' '92 min' '127 min' '139 min' '79 min' '192 min'
 '131 min' '123 min' '122 min' '82 min' '10 Seasons' '81 min' '134 min'
 '135 min' '170 min' '162 min' '40 min' '13 Seasons' '45 min' '85 min'
 '152 min' '14 Seasons' '146 min' '11 Seasons' '161 min' '29 Seasons'
 '143 min' '142 min' '63 min' '42 min' '17 Seasons' '120 min' '77 min'
 '65 min' '70 min' '19 Seasons' '30 Seasons' '22 Seasons' '67 min'
 '149 min' '52 min' '23 min' '60 min' '1 min' '153 min' '151 min' '49 min'
 '46 min' '73 min' '36 min' '39 min' '34 min' '47 min' '37 min' '78 min'
 '132 min' '61 min' '44 min' '51 min' '58 min' '71 min' '74 min' '28 min'
 '25 Seasons' '64 min' '7 min' '5 min' '6 min' '2 min' '57 min' '4 min'
 '34 Seasons' '54 min' '56 min' '25 min' '26 Seasons']
['90 min' '2 Seasons' '1 Season' '91 min' '125 min' '9 Seasons' '104 min'
 '127 min' '4 Seasons' '67 min' '94 min' '5 Seasons' '161 min' '61 min'
 '166 min' '147 min' '103 min' '97 min' '106 min' '111 min' '3 Seasons'
 '110 min' '105 min' '96 min' '124 min' '116 min' '98 min' '23 min'
 '115 min' '122 min' '99 min' '88 min' '100 min' '6 Seasons' '102 min'
 '93 min' '95 min' '85 min' '83 min' '113 min' '13 min' '182 min' '48 min'
 '145 min' '87 min' '92 min' '80 min' '117 min' '128 min' '119 min'
 '143 min' '114 min' '118 min' '108 min' '63 min' '121 min' '142 min'
 '154 min' '120 min' '82 min' '109 min' '101 min' '86 min' '229 min'
 '76 min' '89 min' '156 min' '112 min' '107 min' '129 min' '135 min'
 '136 min' '165 min' '150 min' '133 min' '70 min' '84 min' '140 min'
 '78 min' '7 Seasons' '64 min' '59 min' '139 min' '69 min' '148 min'
 '189 min' '141 min' '130 min' '138 min' '81 min' '132 min' '10 Seasons'
 '123 min' '65 min' '68 min' '66 min' '62 min' '74 min' '131 min' '39 min'
 '46 min' '38 min' '8 Seasons' '17 Seasons' '126 min' '155 min' '159 min'
 '137 min' '12 min' '273 min' '36 min' '34 min' '77 min' '60 min' '49 min'
 '58 min' '72 min' '204 min' '212 min' '25 min' '73 min' '29 min' '47 min'
 '32 min' '35 min' '71 min' '149 min' '33 min' '15 min' '54 min' '224 min'
 '162 min' '37 min' '75 min' '79 min' '55 min' '158 min' '164 min'
 '173 min' '181 min' '185 min' '21 min' '24 min' '51 min' '151 min'
 '42 min' '22 min' '134 min' '177 min' '13 Seasons' '52 min' '14 min'
 '53 min' '8 min' '57 min' '28 min' '50 min' '9 min' '26 min' '45 min'
 '171 min' '27 min' '44 min' '146 min' '20 min' '157 min' '17 min'
 '203 min' '41 min' '30 min' '194 min' '15 Seasons' '233 min' '237 min'
 '230 min' '195 min' '253 min' '152 min' '190 min' '160 min' '208 min'
 '180 min' '144 min' '5 min' '174 min' '170 min' '192 min' '209 min'
 '187 min' '172 min' '16 min' '186 min' '11 min' '193 min' '176 min'
 '56 min' '169 min' '40 min' '10 min' '3 min' '168 min' '312 min'
 '153 min' '214 min' '31 min' '163 min' '19 min' '12 Seasons' '179 min'
 '11 Seasons' '43 min' '200 min' '196 min' '167 min' '178 min' '228 min'
 '18 min' '205 min' '201 min' '191 min']

In [21]:
# Turn durations into integers. Show durations are in number of seasons and movie durations in minutes
# Also drop rows where duration is nan
for i in [amazon, disney, hulu, netflix]:
    new_durations = []
    for dur in i.duration:
        try:
            new_durations.append(int(dur.split(" ")[0]))
        except:
            try:
                new_durations.append(int(dur))
            except:
                new_durations.append(0)
    i["duration"] = new_durations
    
# Iteratively, this did not work, so manual restriction of duration is done here
amazon = sqldf("SELECT * FROM amazon WHERE duration > 0")
disney = sqldf("SELECT * FROM disney WHERE duration > 0")
hulu = sqldf("SELECT * FROM hulu WHERE duration > 0")
netflix = sqldf("SELECT * FROM netflix WHERE duration > 0")

## Fixing Genre Disaster

Genres are very inconsistent across different services. Here, genre strings are being rebuilt to be consistent

In [22]:
# Rewriting similar genres so that formats are consistent across services
def get_genre(genre, content_type):
    # Dictionary for replacing inconsistent movie genres
    movie_rewrites = {"Arts": ["Arts/Entertainment/Culture"], "Entertainment": [None], "and Culture": [None], 
                     "Action & Adventure": ["Action", "Adventure"], "Action-Adventure": ["Action", "Adventure"], 
                     "Anime Features": ["Anime"], "Classic Movies": ["Classics"], "Comedies": ["Comedy"], "Documentaries": ["Documentary"],
                     "Dramas": ["Drama"], "Faith & Spirituality": ["Faith and Spirituality"], "Children & Family Movies": ["Family"], 
                     "Fitness": ["Health and Wellness"], "Historical": ["History"], "Horror Movies": ["Horror"], 
                     "International Movies": ["International"], "LGBTQ": ["LGBTQ+"], "LGBTQ Movies": ["LGBTQ+"],
                     "Lifestyle & Culture": ["Lifestyle"], "Music & Musicals": ["Music"], 
                     "Musical": ["Music"], "Concert Film": ["Music Videos and Concerts"], "Romantic Comedy": ["Romance", "Comedy"],
                     "Romantic Movies": ["Romance"], "Sci-Fi & Fantasy": ["Science Fiction", "Fantasy"], "Sitcom": ["Comedy"], 
                     "Sports Movies": ["Sports"], "Stand-Up Comedy": ["Stand Up"], "Talk Show and Variety": ["Variety"], 
                     "Thrillers": ["Thriller"], "Travel": ["Lifestyle"], "Cartoons": ["Animation", "Cartoons"], "Suspense": ["Thriller"],
                     "Movies": [None], "": [None]}

    # Dictionary for replacing inconsistent TV genres
    tv_rewrites = {"Arts": ["Arts/Entertainment/Culture"], "Entertainment": [None], "and Culture": [None],
                  "Action-Adventure": ["Action", "Adventure"], "Anime Series": ["Anime"], "British TV Shows": ["International", "British"],
                  "Classic & Cult TV": ["Classics"], "Crime TV Shows": ["Crime"], "Documentaries": ["Documentary"], 
                  "Docuseries": ["Documentary"], "Game Show / Competition": ["Game Show"], "Game Shows": ["Game Show"], 
                  "Fitness": ["Health & Wellness"], "Historical": ["History"], "International TV Shows": ["International"],
                  "Kids' TV": ["Kids"], "Korean TV Shows": ["International", "Korean"], "LGBTQ": ["LGBTQ+"], 
                  "Lifestyle & Culture": ["Lifestyle"], "Musical": ["Music"], "Reality TV": ["Reality"], "Romantic TV Shows": ["Romance"],
                  "Science & Nature TV": ["Science and Nature"], "Animals & Nature": ["Science and Nature"], "Series": [None],
                  "Sitcom": ["Sitcom", "Comedy"], "Sketch Comedy": ["Sketch Comedy", "Comedy"], "Soap Opera / Melodrama": ["Soap Opera"],
                  "Spanish-Language TV Shows": ["International", "Spanish"], "Stand-Up Comedy & Talk Shows": ["Stand Up", "Talk Show and Variety"],
                  "Latino": ["International", "Latino"], "TV Action & Adventure": ["Action", "Adventure"], "TV Comedies": ["Comedy"],
                  "TV Dramas": ["Drama"], "TV Horror": ["Horror"], "TV Mysteries": ["Mystery"], 
                  "TV Sci-Fi & Fantasy": ["Science Fiction", "Fantasy"], "TV Shows": [None], "TV Thrillers": ["Thriller"], 
                  "Stand Up": ["Talk Show and Variety"], "Talk Show": ["Talk Show and Variety"], "Teen TV Shows": ["Teen"],
                  "Variety": ["Talk Show and Variety"], "Travel": ["Lifestyle"], "Cartoons": ["Animation", "Cartoons"], "Suspense": ["Thriller"],
                  "Movies": [None], "": [None]}

    if(content_type == "Movie" and genre in movie_rewrites):
        return movie_rewrites.get(genre)
    elif(content_type == "TV Show" and genre in tv_rewrites):
        return tv_rewrites.get(genre)
    elif("&" in genre):
        return [genre.replace("&", "and")]
    else:
        return [genre]

In [23]:
# Set new genre strings
for i in [amazon, disney, hulu, netflix]:
    new_genres = []
    for index,row in i.iterrows():
        new_str = ""
        for genre in row["listed_in"].split(", "):
            gs = get_genre(genre, row["type"])
            for g in gs:
                if(g != None and str(g) not in new_str):
                    new_str += g + ","
        new_genres.append(new_str[:-1])
    i["listed_in"] = new_genres
    
# Iteratively, this did not work, so manual restriction of duration is done here
amazon = sqldf("SELECT * FROM amazon WHERE listed_in != \"\"")
disney = sqldf("SELECT * FROM disney WHERE listed_in != \"\"")
hulu = sqldf("SELECT * FROM hulu WHERE listed_in != \"\"")
netflix = sqldf("SELECT * FROM netflix WHERE listed_in != \"\"")

In [24]:
unique_genres = []
for i in [amazon, disney, hulu, netflix]:
    for genres in i.listed_in:
        for g in genres.split(","):
            if(g not in unique_genres):
                unique_genres.append(g)
sorted(unique_genres)

['Action',
 'Adult Animation',
 'Adventure',
 'Animals and Nature',
 'Animation',
 'Anime',
 'Anthology',
 'Arthouse',
 'Arts/Entertainment/Culture',
 'Biographical',
 'Black Stories',
 'British',
 'Buddy',
 'Cartoons',
 'Classics',
 'Comedy',
 'Coming of Age',
 'Cooking and Food',
 'Crime',
 'Cult Movies',
 'Dance',
 'Disaster',
 'Documentary',
 'Drama',
 'Faith and Spirituality',
 'Family',
 'Fantasy',
 'Game Show',
 'Health & Wellness',
 'Health and Wellness',
 'History',
 'Horror',
 'Independent Movies',
 'International',
 'Kids',
 'Korean',
 'LGBTQ+',
 'Late Night',
 'Latino',
 'Lifestyle',
 'Medical',
 'Military and War',
 'Music',
 'Music Videos and Concerts',
 'Mystery',
 'News',
 'Parody',
 'Police/Cop',
 'Reality',
 'Romance',
 'Science Fiction',
 'Science and Nature',
 'Science and Technology',
 'Sitcom',
 'Sketch Comedy',
 'Soap Opera',
 'Spanish',
 'Special Interest',
 'Sports',
 'Spy/Espionage',
 'Stand Up',
 'Superhero',
 'Survival',
 'Talk Show and Variety',
 'Teen',
 'Thriller',
 'Unscripted',
 'Variety',
 'Western',
 'Young Adult Audience']

## Fixing Ratings

In [25]:
unique_movie = []
unique_tv = []
for i in [amazon, disney, hulu, netflix]:
    m = sqldf("SELECT * FROM i WHERE type == \"Movie\"")
    tv = sqldf("SELECT * FROM i WHERE type == \"TV Show\"")
    for rating in m.rating.unique():
        if(rating != None and rating not in unique_movie):
            unique_movie.append(rating)
    for rating in tv.rating.unique():
        if(rating != None and rating not in unique_tv):
            unique_tv.append(rating)
            
print(sorted(unique_movie))
print(sorted(unique_tv))

['13+', '16', '16+', '18+', '7+', 'AGES_16_', 'AGES_18_', 'ALL', 'ALL_AGES', 'G', 'NC-17', 'NOT RATED', 'NOT_RATE', 'NR', 'PG', 'PG-13', 'R', 'TV-14', 'TV-G', 'TV-MA', 'TV-PG', 'TV-Y', 'TV-Y7', 'TV-Y7-FV', 'UNRATED', 'UR']
['13+', '16+', '18+', '7+', 'ALL', 'NR', 'PG', 'R', 'TV-14', 'TV-G', 'TV-MA', 'TV-NR', 'TV-PG', 'TV-Y', 'TV-Y7', 'TV-Y7-FV']

In [26]:
# Rewriting similar ratings so that formats are consistent across services
def get_rating(rating):
    # Dictionary for replacing inconsistent ratings
    rewrites = {"13+": "PG-13", "16": "R", "16+": "R", "18+": "NC-17", "7+": "G", "AGES_16_": "R", "AGES_18_": "NC-17",
                 "ALL": "G", "ALL_AGES": "G", "NOT RATED": "NR", "NOT_RATE": "NR", "TV-14": "PG-13", "TV-G": "G", 
                 "TV-MA": "R", "TV-PG": "PG", "TV-Y": "G", "TV-Y7": "PG", "TV-Y7-FV": "PG", "UNRATED": "NR", "UR": "NR",
                 "TV-NR": "NR"}

    if(rating in rewrites.keys()):
        return rewrites.get(rating)
    else:
        return rating

In [27]:
# Set new ratings
for i in [amazon, disney, hulu, netflix]:
    new_ratings = []
    for index,row in i.iterrows():
        new_ratings.append(get_rating(row["rating"]))
    i["rating"] = new_ratings

## Saving Clean Data

In [28]:
# Write all clean datasets to .csv files
amazon.to_csv("data/amazon_clean.csv", index=False)
disney.to_csv("data/disney_clean.csv", index=False)
hulu.to_csv("data/hulu_clean.csv", index=False)
netflix.to_csv("data/netflix_clean.csv", index=False)