In [44]:
import pandas as pd
import numpy as np
from pandasql import sqldf

In [45]:
amazon = pd.read_csv("data/amazon_prime_titles.csv").assign(service="amazon")
disney = pd.read_csv("data/disney_plus_titles.csv").assign(service="disney")
#hbo = pd.read_csv("data/HBO_MAX_Content.csv")
hulu = pd.read_csv("data/hulu_titles.csv").assign(service="hulu")
netflix = pd.read_csv("data/netflix_titles.csv").assign(service="netflix")
raw_dfs = [amazon,disney,hulu,netflix]

In [46]:
new_dfs = []
for df in raw_dfs:
    new_dfs.append(sqldf("SELECT * FROM df WHERE type == \"Movie\""))
amazon = new_dfs[0]
disney = new_dfs[1]
hulu = new_dfs[2]
netflix = new_dfs[3]

In [47]:
services = raw_dfs[0].copy()
for df in raw_dfs[1:]:
    services = sqldf("SELECT * FROM services UNION SELECT * FROM df")

In [48]:
basic_stats = sqldf("SELECT AVG(release_year) as mean_year, COUNT(*) as n_titles, service FROM services GROUP BY service")
basic_stats

     mean_year  n_titles  service
0  2008.341849      9668   amazon
1  2003.091724      1450   disney
2  2012.567524      3073     hulu
3  2014.180198      8807  netflix